.navbar-app {
	background-color: #ff9523;
	height: 100px;
	color: white;
}
.navbar-app .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-app .list-inline li {
	border-right: 1px solid white;
}
.navbar-app .list-inline li:last-child {
	border: none;
}
.navbar-app .list-inline li.dropdown>a {
	color: white;
	text-decoration: none;
	background-color: #ff9523;
}
.navbar-app .navbar-nav {
	padding-top: 16px;
}
.navbar-app .navbar-right {
	margin-right: 0;
}

#govern-logo {
	border-right: 1px solid #FFFFFF;
	display: block;
	margin-top: 0px;
	padding: 0px 24px 0px 0;
}
#app-logo {
	display: flex;
	padding: 18px 0 0 12px;
}


#text-logo-div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-top: 10px;
}

#text-logo {
	font-size: 1.8em;
	color: white;
	margin-left: 10px;
	font-weight: bold;
}

.container-main, .container-foot {
	padding-right: 0;
	padding-left: 0;
}
.container-main .panel-heading h2 {
	margin-top: 10px;
	margin-bottom: 0px;
}

.container-nocappeus {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.caret-white {
	border-top-color: white !important;
}

.pagination-datatable {
	margin-top: 4px !important;
}

#contingut-missatges .alert {
	padding: 10px 15px !important;
}
#contingut-missatges button.close-alertes {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	padding: 0;
}
#contingut-missatges .close-alertes {
	color: #000000;
	float: right;
	font-weight: bold;
	opacity: 0.2;
	text-shadow: 0 1px 0 #FFFFFF;
}

/*
 * webutil
 */
table.dataTable tr div.form-group {
	width: 100%;
}
table.dataTable tr .form-control {
	width: 100%;
	height: 28px!important;
}
table.dataTable tr input {
	font-weight: normal;
}
table.dataTable tr.datatable-dades-carregant div {
	width: 150px;
	height: 150px;
	border: 1px solid #ddd;
	border-radius: 1em;
	margin: 4em auto 4em auto;
	padding-top: 3.7em;
	text-align: center;
	background-color: white;
}
.ocult {
	display: none;
}
.input-group {
	width: 100%;
}

.well{
	overflow: hidden;
}

.control-label {
	font-weight: bold;
}

.select2-container--default .select2-selection--single {
	border: 1px solid #ccc!important;
}

.width50{
	width: 50% !important;
}

.vt10 {
	padding-top: 10px;
}

.text_ocultable {
	display: contents;
}
.icona_ocultable {
	display: none;
}
@media (max-width: 1024px) {
	.truncate {
		max-width: 150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		position: relative;
		top: 6px;
	}
	.text_ocultable {
		display: none;
	}
	.icona_ocultable {
		display: contents;
	}
}
@media (max-width: 1280px) and (min-width:1025px) {
	.truncate {
		max-width: 180px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		position: relative;
		top: 6px;
	}
	.text_ocultable {
		display: none;
	}
	.icona_ocultable {
		display: contents;
	}
}
@media (max-width: 1440px) and (min-width:1281px) {
	.truncate {
		max-width: 250px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		position: relative;
		top: 6px;
	}
	.text_ocultable {
		display: none;
	}
	.icona_ocultable {
		display: contents;
	}
}
@media (max-width: 1599px) and (min-width: 1441px) {
	.truncate {
		max-width: 400px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		position: relative;
		top: 6px;
	}
	.text_ocultable {
		display: none;
	}
	.icona_ocultable {
		display: contents;
	}
}
@media (max-width: 1919px) and (min-width: 1600px) {
	.truncate {
		max-width: 400px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		position: relative;
		top: 6px;
	}
	.text_ocultable {
		display: contents;
	}
	.icona_ocultable {
		display: none;
	}
	#botoFiltrar {
		padding-right: 4px;
	}
}

@media (max-width: 2500px) and (min-width: 1920px) {
	.text_ocultable {
		display: contents;
	}
	.icona_ocultable {
		display: none;
	}

	#botoFiltrar {
		padding-right: 4px;
	}
}
/*
 * avisos
 */
.avisCardHeader:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.avisCard {
	border-radius: 0.25rem;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 3px;
}
.avisCardInfo {
	border-color: #bee5eb;
}
.avisCardWarning {
	border-color: #faebcc;
}
.avisCardError {
	border-color: #f5c6cb;
}
.avisCardHeader {
	padding: 5px;
	padding-left: 10px;
}
.avisCardBody {
	padding-left: 15px;
	padding-right: 10px;
	background-color: #fff;
}
.avisCardInfo .avisCardHeader{
	color: #0c5460;
	background-color: #d1ecf1;
}
.avisCardWarning .avisCardHeader {
	color: #8a6d3b;
	background-color: #fcf8e3;
}
.avisCardError .avisCardHeader {
	color: #721c24;
	background-color: #f8d7da;
}

.avisCardInfo button{
	color: #0c5460CC;
}
.avisCardWarning button{
	color: #8a6d3bCC;
}
.avisCardError button{
	color: #721c24CC;
}

.alert-config {
	border: 1px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-radius: 4px;
	padding: 5px;
}

.alert-config-ok {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;

}

.display-inline {
	display: inline;
}

.spinner-config {
	margin-left: 5px;
	font-size: 1.2em;
}

.alert-config-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-config-boto {
	cursor: pointer;
	padding: 5px;
	color: #a4a4a494;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-justify-end {
	display: flex;
	justify-content: end;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-column-space-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-space-between {
	display:flex;
	justify-content: space-between;
}

.flex-space-around {
	display:flex;
	justify-content: space-around;
}

.overflow-visible {
	overflow: visible;
}

.entitats-config {
	background-color: #f2f2f2;
	border-radius:4px;
	display: none;
}

.separador {
	border-bottom: 1px solid #DDDDDD;
}

.width-100 {
	width:100% !important;
}

.padding-bottom-4 {
	padding-bottom: 4px;
}

.padding-top-bottom {
	padding-top: 10px;
	padding-bottom:10px;
}

.padding-top-7 {
	padding-top: 7px;
}

.text-gray {
	color: #c0c0c7;
}

.no-display {
	display: none;
}

.label-config {
	text-align: right;
	padding-top: 7px !important;
}

.no-side-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

input.entitat-no-configurada[type="checkbox"]  {
	/*outline: 3px solid pink;*/
}

.margin-bottom {
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-switch {
	display: inline-block;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.form-switch i {
	position: relative;
	display: inline-block;
	margin-right: .5rem;
	width: 46px;
	height: 26px;
	background-color: #e6e6e6;
	border-radius: 23px;
	vertical-align: text-bottom;
	transition: all 0.3s linear;
}

.form-switch i::before {
	content: "";
	position: absolute;
	left: 0;
	width: 42px;
	height: 22px;
	background-color: #e6e6e6;
	border-radius: 11px;
	transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
	transition: all 0.25s linear;
}

.form-switch i::after {
	content: "";
	position: absolute;
	left: 0;
	width: 22px;
	height: 22px;
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
	transform: translate3d(2px, 2px, 0);
	transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
	width: 28px;
	transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + input + i { background-color: #5cb85c; }

.form-switch input:checked + input + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + input + i::after { transform: translate3d(22px, 2px, 0); }

#cover-spin {
	position:fixed;
	width:100%;
	left:0;right:0;top:0;bottom:0;
	background-color: rgba(255,255,255,0.7);
	z-index:9999;
	display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
	content:'';
	display:block;
	position:absolute;
	left:48%;top:40%;
	width:40px;height:40px;
	border-style:solid;
	border-color:black;
	border-top-color:transparent;
	border-width: 4px;
	border-radius:50%;
	-webkit-animation: spin .8s linear infinite;
	animation: spin .8s linear infinite;
}

.filtreOcult {
	display:none;
}

.botonsTipusFiltre {
	float:right;
	cursor:pointer;
	text-decoration: underline;
	text-decoration-style: dashed;
}
